HOST,OPEN,TARGET,PORT
CASSANDRA
{% for host in groups['ds'] %}
{{ host }}
{% for item in hostvars[host].cs_port %}
{{ item.stdout }}
{% endfor %}  
{% endfor %}

ZOOKEEPER
{% for host in groups['ds'] %}
{{ host }}
{% for item in hostvars[host].zk_port %}
{{ item.stdout }}
{% endfor %}  
{% endfor %}

MANAGEMENT SERVER
DS
{% for host in groups['ms'] %}
{{ host }}
{% for item in hostvars[host].ms_ds_port %}
{{ item.stdout }}
{% endfor %}  
{% endfor %}